<!-- ko with: home -->
<div class="jumbotron">
    <h1>Please enter your personal information for our financial gain.</h1>

</div>

<script src="C:\Users\Ryan\source\repos\KnockoutJS\KnockoutJS\Scripts\knockout-3.4.2.js" crossorigin="anonymous">

    src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"
</script>

<!-- /ko -->
